<dmc-chart id="Chart5" chart-type="stackedbar2d" chart-config="Config5" chart-data="Data5">kahaha</dmc-chart><br>
<bar2d id="Chart1" chart-config="bar2dConfig" chart-data="bar2dData">lalala</bar2d><br>
<input ng-click="changeData()" type="button" value="Change Data"><br>
<dmc-chart id="Chart2" chart-type="stackedcolumn2dline" chart-config="stackedbar2dConfig" chart-data="stackedbar2dData">hahaha</dmc-chart><br>
<dmc-chart id="Chart3" chart-type="mscombi3d" chart-config="stackedbar2dConfig" chart-data="stackedbar2dData">hahaha</dmc-chart><br>
<dmc-chart id="Chart4" chart-type="Bar2D" chart-config="bar2dConfig1" chart-data="bar2dData1">kahaha</dmc-chart><br>
<input ng-click="changeData1()" type="button" value="Change Data1"><br>

<dmc-chart id="Chart6" chart-type="MSArea" chart-config="Config6" chart-data="Data6">kahaha</dmc-chart><br>
<dmc-chart id="Chart8" chart-type="doughnut2d" chart-config="Config7" chart-data="chart7Data"></dmc-chart>
